@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    /* --background: 222.2 84% 4.9%; */
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-custom-light {
  background-color: white; /* Light mode background color */
  /* height: 80vh; //80% of the viewport height */
}

/* Dark mode gradient background */
.dark .bg-custom-dark {
  background: linear-gradient(
    0deg,
    #000,
    rgba(0, 0, 1, 0.54) 27%,
    rgba(23, 45, 69, 0.53) 59%,
    rgba(43, 56, 94, 0.55) 69%,
    rgba(33, 45, 92, 0.57) 81%,
    rgba(11, 47, 149, 0.4) 95%,
    rgba(11, 27, 72, 0.64)
  );
}

.xz {
  color: rgb(236, 100, 30);
}

.xyz {
  /* font-weight: bold; Optional: make text bold */
  background: linear-gradient(
    to right,
    #87beed,
    #43bba0
  ); /* Gradient background */
  -webkit-background-clip: text; /* For WebKit browsers (Chrome, Safari) */
  -moz-background-clip: text; /* For Firefox */
  background-clip: text; /* Standard */
  color: transparent; /* Hide the original text color */
}

.dark .mode-bg {
  background: black;
}
.mode-bg {
  background: linear-gradient(to bottom, #516076, #ffffff);
}

/* Dark mode gradient background */
.dark .cv {
  background: linear-gradient(
    to right,
    #0f1b41,
    #393434
  ); /* Blue to black gradient */
}

.scrollable-container {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
@media (max-width: 768px) {
  .scrollable-container {
    max-height: 700px; /* Adjust height for smaller screens */
  }
}

@media (min-width: 769px) {
  .scrollable-container {
    max-height: 600px; /* Adjust height for larger screens */
  }
}

.dark .xcx {
  background: rgb(29, 26, 39);
}

.sha {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(196, 187, 187, 0.7) transparent; /* Firefox */
  position: relative;
  padding-bottom: 20px; /* Prevent content from being hidden behind the shadow */
  /* box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.5);   */
}

.dark .sha {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgb(29, 26, 39) transparent; /* Firefox */
  position: relative;
  padding-bottom: 20px; /* Prevent content from being hidden behind the shadow */
  /* box-shadow: inset 0px -10px 10px -10px rgba(153, 143, 143, 0.5);   */
}

/* WebKit Browsers */
.sha::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}
.dark .sha::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

.sha::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}
.dark .sha::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.sha::-webkit-scrollbar-track {
  background: transparent; /* The track of the scrollbar (background) */
}
.dark .sha::-webkit-scrollbar-track {
  background: transparent; /* The track of the scrollbar (background) */
}

@media (max-width: 768px) {
  .sha {
    max-height: 600px; /* Adjust height for smaller screens */
  }
}

@media (min-width: 769px) {
  .sha {
    max-height: 500px; /* Adjust height for larger screens */
  }
}
@media (max-width: 768px) {
  .dark .sha {
    max-height: 600px; /* Adjust height for smaller screens */
  }
}

@media (min-width: 769px) {
  .dark .sha {
    max-height: 500px; /* Adjust height for larger screens */
  }
}

.serCol {
  color: rgb(96, 165, 250);
}
.dark .serCol {
  color: rgb(96, 165, 250);
}

[data-aos="flip-left"] {
  transform: perspective(2500px) rotateY(-45deg); /* 45-degree rotation by default */
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

[data-aos="flip-left"].aos-animate {
  transform: perspective(2500px) rotateY(0deg); /* Flip to 0 degrees when in view */
}

.tick {
  color: rgb(59, 130, 246);
}
.dark .tick {
  color: rgb(59, 130, 246);
}

.bl {
  color: #87beed;
}
.blx {
  color: #43bba0;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.q {
  color: rgb(152, 150, 169);
}

.skill-container {
  /* background: linear-gradient(to right, #535e6e, #d5d8dc)/50; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  border: 0.5px solid gray;
}

.dark .skill-container {
  background: linear-gradient(to right, #0f1b41, #393434); 
  border: none;
}
.transparent-input {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  color: #333;
}
.dark .transparent-input {
  background-color: transparent;
  border: 1px solid #312e2e;
  padding: 8px;
  border-radius: 4px;
  color: #ffeeee;
}

.transparent-input:focus {
  outline: none;
  border-color: #007bff;
}

.dark .about-bg {
  background: linear-gradient(
    0deg,
    #000,
    rgba(0, 0, 1, 0.54) 27%,
    rgba(23, 45, 69, 0.53) 59%,
    rgba(43, 56, 94, 0.55) 69%,
    rgba(33, 45, 92, 0.57) 81%,
    rgba(11, 47, 149, 0.4) 95%,
    rgba(11, 27, 72, 0.64)
  );
}

.about-bg {
  background: white;
}